<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NextStone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
				<key>dateExpires</key>
				<string>27/06/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SimpleImageViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>091187C5227CA70A8FD036AC83FCFEE54FAAA80B</string>
						<key>dateExpires</key>
						<string>27/06/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5T2HJ8YP7F</string>
						<key>name</key>
						<string>CFMT LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5T2HJ8YP7F.com.Stehanie.NextStone</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5T2HJ8YP7F</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5T2HJ8YP7F.com.Stehanie.NextStone</string>
				</array>
			</dict>
			<key>name</key>
			<string>NextStone.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4de4212e-faa7-468b-9fc8-c3c527ed0fcd</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5T2HJ8YP7F</string>
				<key>name</key>
				<string>CFMT LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
